# **TUS PRIMEROS DATA FRAMES EN R**

EN ESTE NOTEBOOK SE ADJUNTAN ALGUNOS EJERCICIOS BÁSICOS PARA FORTALECER EL APRENDIZAJE EN EL MANEJO DE DATOS DENTRO DEL LENGUAJE R.

# 1) Crea un data frame a partir de vectores como se describe a continuación:

Un data frame cuyo contenido es una columna de edad, una de peso y una de sexo, para tres personas: Sam (22 años, M, 150 lbs), Frank (26 años, M, 165 lbs) y Amy (25 años, F, 120 lbs).

Cada uno de los renglones debe estar identificado mediante el nombre de una de las personas, no mediante índices. Es decir, será un data frame de $3\times 3$ donde los renglones son los nombres y las columnas la edad, el peso y el sexo.

In [3]:
name=c("Sam","Frank","Amy")
age=c(22,25,26)
weight=c(150,165,120)
sex=c("m","m","f")

datos=data.frame(row.names = name,age,weight,sex)
datos

      age weight sex
Sam   22  150    m
Frank 25  165    m
Amy   26  120    f

# 2) Convierte una matriz cualquiera de $5\times 5$ en un data frame:

In [21]:
#Creamos una matriz de 5x5, como es arbitraria asignamos la siguiente:
M <- matrix(1:25,nrow = 5)
M

     [,1] [,2] [,3] [,4] [,5]
[1,] 1     6   11   16   21
[2,] 2     7   12   17   22
[3,] 3     8   13   18   23
[4,] 4     9   14   19   24
[5,] 5    10   15   20   25

In [11]:
#Usamos la función as.data.frame()
df_M=as.data.frame(M)
df_M

  V1 V2 V3 V4 V5
1 1   6 11 16 21
2 2   7 12 17 22
3 3   8 13 18 23
4 4   9 14 19 24
5 5  10 15 20 25

# 3) Manipulación del data frame *mtcars* (precargado en R):

# 3.1) Establece este data frame como variable. Llámalo *dfm*:

In [3]:
dfm=mtcars

# 3.2) Muestra los primeros 7 renglones de dfm:

In [6]:
#La función head() se aplica a un data frame para mostrar, de forma predeterminada, sus primeros seis renglones. Para mostrar el séptimo, 
#extendemos esta función:
head(dfm,7)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
Duster 360        14.3 8   360  245 3.21 3.570 15.84 0  0  3    4

# 3.3) Calcula el promedio de la columna *mpg* (millas por galón):

In [11]:
promedio=mean(dfm$mpg)
#mean() es la función para el promedio, dfm$mpg llama a la columna mpg de nuestro data frame dfm
promedio

[1] 20.09062

# 3.4) Muestra los renglones de todos los carros con 6 cilindros (columna *cyl*):

In [41]:
dfm[dfm$cyl==6,]
#dfm[] es llamar a nuestro data frame, dfm$cyl llama la columna de los cilindros, ==6 es el operador compara en qué columnas
#se cumple la condición tal que los carros tienen 6 cilindros. La coma al final regresa la columna.

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Valiant        18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 280       19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C      17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6

O equivalentemente:

In [20]:
#Usamos la función subset. Trabaja análogamente al proceso anterior:
subset(dfm,cyl==6)

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Valiant        18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 280       19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C      17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6

# 3.5) Muestra las columnas *am, gear* y *carb*

In [50]:
#Individual y equivalentemente mostramos cada columna en una línea de código
dfm$am

 [1] 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 1 1 1 1 1 1

In [31]:
dfm[,"gear"]

 [1] 4 4 4 3 3 3 3 4 4 4 4 3 3 3 3 3 3 4 4 4 3 3 3 3 3 4 5 5 5 5 5 4

In [33]:
dfm$'carb'

 [1] 4 4 1 1 2 1 4 2 2 4 4 3 3 3 4 4 4 1 2 1 1 2 2 4 2 1 2 2 4 6 8 2

In [52]:
#Para hacerlo conjuntamente las juntamos en un mismo arreglo mediante la función c()
dfm[c("am","gear","carb")]
#dfm[] llama a nuestro data frame para poder mostrar alguna entrada.
#Las comillas se usan porque las columnas están nombradas mediante un formato de cadena de caracteres.

                    am gear carb
Mazda RX4           1  4    4
Mazda RX4 Wag       1  4    4
Datsun 710          1  4    1
Hornet 4 Drive      0  3    1
Hornet Sportabout   0  3    2
Valiant             0  3    1
Duster 360          0  3    4
Merc 240D           0  4    2
Merc 230            0  4    2
Merc 280            0  4    4
Merc 280C           0  4    4
Merc 450SE          0  3    3
Merc 450SL          0  3    3
Merc 450SLC         0  3    3
Cadillac Fleetwood  0  3    4
Lincoln Continental 0  3    4
Chrysler Imperial   0  3    4
Fiat 128            1  4    1
Honda Civic         1  4    2
Toyota Corolla      1  4    1
Toyota Corona       0  3    1
Dodge Challenger    0  3    2
AMC Javelin         0  3    2
Camaro Z28          0  3    4
Pontiac Firebird    0  3    2
Fiat X1-9           1  4    1
Porsche 914-2       1  5    2
Lotus Europa        1  5    2
Ford Pantera L      1  5    4
Ferrari Dino        1  5    6
Maserati Bora       1  5    8
Volvo 142E          1  4    2

# 3.6) Crea una columna llamada *performance*, cuyo contenido será la razón $\frac{hp}{wt}$.  Muestra que se adjuntó al data frame.
# Es decir, la entrada i-ésima de la columna *performance* será el cociente entre las entradas i-ésimas de las columnas *hp* y *wt*.

In [55]:
dfm$performance=(dfm$hp)/(dfm$wt)
#Llamamos a una columna que será la nueva y la definimos como el cociente resultante de llamar a las dos columnas especificadas. 
performance

                    hp
Mazda RX4           110
Mazda RX4 Wag       110
Datsun 710           93
Hornet 4 Drive      110
Hornet Sportabout   175
Valiant             105
Duster 360          245
Merc 240D            62
Merc 230             95
Merc 280            123
Merc 280C           123
Merc 450SE          180
Merc 450SL          180
Merc 450SLC         180
Cadillac Fleetwood  205
Lincoln Continental 215
Chrysler Imperial   230
Fiat 128             66
Honda Civic          52
Toyota Corolla       65
Toyota Corona        97
Dodge Challenger    150
AMC Javelin         150
Camaro Z28          245
Pontiac Firebird    175
Fiat X1-9            66
Porsche 914-2        91
Lotus Europa        113
Ford Pantera L      264
Ferrari Dino        175
Maserati Bora       335
Volvo 142E          109

In [57]:
# Mostramos los primeros 6 renglones de dfm:
head(dfm)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
                  performance
Mazda RX4         41.98473
Mazda RX4 Wag     38.26087
Datsun 710        40.08621
Hornet 4 Drive    34.21462
Hornet Sportabout 50.87209
Valiant           30.34682

# 3.7) Reduce a dos decimales los valores contenidos en la columna *performance* y reemplázala con los nuevos valores:

In [62]:
#Se puede usar tanto la función round() como la función signif(), ambas son equivalentes pero con algunas diferencias en su operación.
#En este caso usaremos round():
round(dfm$performance, digits = 2)

 [1] 41.98 38.26 40.09 34.21 50.87 30.35 68.63 19.44 30.16 35.76 35.76 44.23
[13] 48.26 47.62 39.05 39.64 43.03 30.00 32.20 35.42 39.35 42.61 43.67 63.80
[25] 45.51 34.11 42.52 74.69 83.28 63.18 93.84 39.21

In [65]:
#Habiendo reducido los términos decimales de performance, ahora reemplazamos las antiguas entradas con las reducidas:
dfm$performance=round(dfm$performance, digits = 2)
#Mostramos la columna con los nuevos valores:
dfm["performance"]
#Mostramos que está ahora adjuntada en dfm:
head(dfm)

                    performance
Mazda RX4           41.98
Mazda RX4 Wag       38.26
Datsun 710          40.09
Hornet 4 Drive      34.21
Hornet Sportabout   50.87
Valiant             30.35
Duster 360          68.63
Merc 240D           19.44
Merc 230            30.16
Merc 280            35.76
Merc 280C           35.76
Merc 450SE          44.23
Merc 450SL          48.26
Merc 450SLC         47.62
Cadillac Fleetwood  39.05
Lincoln Continental 39.64
Chrysler Imperial   43.03
Fiat 128            30.00
Honda Civic         32.20
Toyota Corolla      35.42
Toyota Corona       39.35
Dodge Challenger    42.61
AMC Javelin         43.67
Camaro Z28          63.80
Pontiac Firebird    45.51
Fiat X1-9           34.11
Porsche 914-2       42.52
Lotus Europa        74.69
Ford Pantera L      83.28
Ferrari Dino        63.18
Maserati Bora       93.84
Volvo 142E          39.21

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
                  performance
Mazda RX4         41.98
Mazda RX4 Wag     38.26
Datsun 710        40.09
Hornet 4 Drive    34.21
Hornet Sportabout 50.87
Valiant           30.35

# 3.8) Calcula el promedio de la cantidad $mpg$ para autos con más de $100 hp$ y  un valor de $wt$ de más de $2.5$.

In [86]:
#Mostramos primeramente las columnas en donde se cumplen las condiciones hp>100 y wt>2.5:
subset(dfm, hp>100 & wt >2.5)
#subset crea un subconjunto del data frame dfm, de donde se llama a las columnas hp y wt para formarlo, 
#esto para definir las condiciones mediante los operadores lógicos > y &.
#& es el operador de conjunción de dos condiciones, denota la intersección de los elementos de hp que cumplen con ser >100 y de los elementos
#de wt que son >2.5

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
                    performance
Mazda RX4           41.98
Mazda RX4 Wag       38.26
Hornet 4 Drive      34.21
Hornet Sportabout   50.87
Valiant             30.35
Duster 360          68.63
Merc 280            35.76
Merc 280C           35.76
Merc 450SE          44.23
Merc 450SL          48.26
Merc 450SLC         47.62
Cadillac Fleetwood  39.05
Lincoln Continental 39.64
Chrysler Imperial   43.03
Dodge Challenger    42.61
AMC Javelin         43.67
Camaro Z28          63.80
Pontiac Firebird    45.51
Ford Pantera L      83.28
Ferrari Dino        63.18
Maserati Bora       93.84
Volvo 142E          39.21

In [90]:
#Mostramos el subconjunto generado con las condiciones dadas para la columna mpg, la cual llamamos mediante el signo $:
mpg_condicionada=subset(dfm, hp>100 & wt >2.5)$mpg
mpg_condicionada

 [1] 21.0 21.0 21.4 18.7 18.1 14.3 19.2 17.8 16.4 17.3 15.2 10.4 10.4 14.7 15.5
[16] 15.2 13.3 19.2 15.8 19.7 15.0 21.4

In [91]:
#Calculamos el promedio:
mean(mpg_condicionada)

[1] 16.86364

# 3.9) ¿Cuál es el valor de *mpg* para el auto *Hornet Sportabout*?

In [97]:
#El formato para mostrar la entrada correspondiente a un renglón y una columna específica es:
#dfm[[renglón,columna]]
dfm[["Hornet Sportabout", "mpg"]]
#Hay que asegurarse de escribir correctamente cómo se identifica el renglón.

[1] 18.7

# **FIN DE TUS PRIMEROS EJERCICIOS TRABAJANDO CON DATA FRAMES EN R**